/* Ensure proper mobile scrolling */
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* Fix for mobile viewport */
@supports (-webkit-touch-callout: none) {
  .MuiDrawer-paper {
    height: -webkit-fill-available !important;
  }
}

.MuiIconButton-root {
  padding: 12px;
}